body {
    font-family: Arial;
    background-color: #FEF9E7;
    color: #2C2C2C;
    margin: 0;
}

h1 {
    background-color: #7D3C98;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #F4D03F;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #2C2C2C;
    margin: 6px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 15px;
}

#galeria {
    background-color: #FDEBD0;
}

#galeria img {
    width: 180px;
    margin: 8px;
    border: 3px solid #7D3C98;
}

footer {
    background-color: #7D3C98;
    color: white;
    text-align: center;
    padding: 10px;
}


